= form_for @status do |status_form|
  .modal-dialog
    .modal-content
      .modal-body
        .field
          = status_form.label "ステータス名"
          = status_form.text_field :name
      .modal-footer
        .actions
          = status_form.submit
