.modal-dialog
  .modal-content
    .modal-body
      %table
        %colgroup
          %col{style: 'width: 50%;'}
          %col{style: 'width: 40%;'}
          %col{style: 'width: 10%;'}
        %thead
          %tr
            %th
            %th
        %tbody
          %h3 カテゴリ 削除
          - @categories.order(classification: :asc).each do |category|
            %tr
              %td= category.classification == Constants::TASKS_CLASSIFICATION ? "タスク" : "トラブル"
              %td= category.name
              %td= link_to '削除', category_path(category.id), method: :delete, data: { confirm: 'Are you sure?' }